$my-blue: #29BFEE;
$my-yellow: #FFE807;
$my-red: #F12634;
$my-purple: #5B108B;

html {
  display: grid;
  min-height: 100%;
  overflow: hidden;
}

body {
  display: grid;
  background-color: #000;
  font-family: Helvetica;
  font-weight: 600;
  color: #FFFFFF;
}

.icon {
  margin: auto;
}

.box {
  width: 500px;
  height: 250px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 10px;
}

.title {
  font-size: 80px;
  padding-left: 30px;
  padding-top: 10px;
}

.address {
  font-size: 25px;
  padding-left: 30px;
}

.effects {
  padding-top: 10px;
  padding-left: 30px;
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  text-align: center;
  font-size: 40px;
  line-height: 50px;
}

.blue {
  background-color: $my-blue;
}

.yellow {
  background-color: $my-yellow;
  color: #000000;
}

.red {
  background-color: $my-red;
}

.purple {
  background-color: $my-purple;
}
